{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="post">
  {{form.as_p}}
  {% csrf_token %}
  <input type="submit" value="SignUp" id='signup' class="btn btn-primary">
</form>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}


<!-- Link to custom CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}
