form{
  margin-top: 25px;
  width: 40%;
  background-color: #454544;
  padding: 20px 30px 20px 5px;
  color: white;
  border-radius: 20px;
  text-align: center;
  margin-left: 300px;
}
label {
  display: inline-block;
}
#signup{

}
body{
  background-color: #eb6734;
}
